version: '3.1'

services:
  mysql:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    container_name: mysql2
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - ./database/initdb/:/docker-entrypoint-initdb.d/
      - ./database/mysql:/var/lib/mysql
  bot:
    build: ./app
    container_name: telegram-bot
    
    env_file: .env
    volumes:
      - ./app:/go/src/github.com/meidonohitsuji/gitlab-telegram-notification-go
      - .env:/go/src/github.com/meidonohitsuji/gitlab-telegram-notification-go/.env